<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>SignUp - All Sports Fantasy</title>
<link rel="shortcut icon" type="image/png" th:href="@{/pages/images/icon/favicon.png}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/signinup.css}" />
</head>
<body>
<nav th:replace="fragments/premenu :: premenu"></nav>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
			</div>
			<div class="card-body">
				<form name="registerForm" id="registerForm" th:action="@{'/register'}" th:object="${user}" method="post" autocomplete="off">
					<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errormessage!='' and errormessage!=null}">
						<span th:text="${errormessage}"></span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="First Name" id="firstName" th:field="*{firstName}" onkeyup="capitalletter('firstName')"/>
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Last Name" id="lastName" th:field="*{lastName}" onkeyup="capitalletter('lastName')"/>
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Email" id="email" th:field="*{email}" />
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Password" id="password" th:field="*{password}" />
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-phone"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Phone Number" id="phoneNumber" th:field="*{phoneNumber}" />
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-tag"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Cupon Code" id="cuponCode" onkeyup="cuponcode()" th:field="*{cuponCode}" />
					</div>

					<div class="form-group">
						<input type="submit" value="Signup" class="btn float-right login_btn" />
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links"> you have already account? <a th:href="@{'/signin'}" style="text-decoration: none;">Sign In</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-bootstrap-tooltip@0.10.2/jquery-validate.bootstrap-tooltip.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("#registerForm").validate({
			errorClass : 'inputError',
			validClass : 'InputSuccess',
			rules : {
				firstName : {
					required : true
				},
				lastName : {
					required : true
				},
				email : {
					required : true,
					email : true
				},
				password : {
					required : true,
					minlength : 6,
					maxlength : 10
				},
				phoneNumber : {
					required : true,
					minlength : 10,
					maxlength : 10
				}
			},

			messages : {
				firstName : {
					required : "Please enter first name"
				},
				lastName : {
					required : "Please enter last name"
				},
				email : {
					required : "Please enter email",
					email : "Please enter valid email"
				},
				password : {
					required : "Please enter password",
					minlength : "Password must be 6 digits length",
					maxlength : "Password cann't exceed 10 digits length"
				},
				phoneNumber : {
					required : "Please enter phone number",
					minlength : "phone number must be 10 digits length",
					maxlength : "phone number cann't exceed 10 digits length"
				}

			},
			tooltip_options : {
				firstName : {
					placement : 'bottom',
					html : true
				},
				lastName : {
					placement : 'bottom',
					html : true
				},
				email : {
					placement : 'bottom',
					html : true
				},
				password : {
					placement : 'bottom',
					html : true
				},
				phoneNumber : {
					placement : 'bottom',
					html : true
				}
			},
			submitHandler : function(form) {
				form.submit();
			}
		});
	});
	function cuponcode() {
		var x = document.getElementById("cuponCode");
		x.value = x.value.toUpperCase();
	}
	
	function capitalletter(id) {
		var x = document.getElementById(id);
		x.value = x.value.charAt(0).toUpperCase() + x.value.slice(1);
	}	
</script>
<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	$("#phoneNumber").keypress(function(e) {
		if (String.fromCharCode(e.keyCode).match(/[^0-9]/g))
			return false;
	});
	// ]]>
</script>
</html>