<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Dashboard - All Sports Fantasy</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css"/>
<link rel="stylesheet" th:href="@{/css/participant.css}"/>
</head>
<body>
<nav th:replace="fragments/adminmenu :: adminmenu"></nav>
<div class="container-fluid"><br/><br/><br/>
<div class="table-wrapper">
	<div class="table-title">
		<div class="row">
			<div class="col-sm-6">
				<h2>
					<b>Users</b>
				</h2>
			</div>
		</div>
	</div>
	<table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
		<thead>
			<tr>
				<th style="text-align:center;">Name</th>
				<th style="text-align:center;">Email</th>
				<th style="text-align:center;">Mobile</th>
				<th style="text-align:center;">Is Active</th>
				<th style="text-align:center;">Created Date</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.firstName+' '+user.lastName}" style="text-align:center;"></td>
				<td th:text="${user.email}" style="text-align:center;"></td>
				<td th:text="${user.phoneNumber}" style="text-align:center;"></td>
				<td th:text="${user.enabled?'Yes':'No'}" style="text-align:center;"></td>
				<td th:text="${#dates.format(user.createdDate, 'yyyy-MM-dd HH:mm:ss')}" style="text-align:center;"></td>
			</tr>
		</tbody>
	</table>
</div>
</div>
    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
	$('#example').DataTable({
		"aaSorting" : [ [ 3, "desc" ] ],
	});
});
/*]]>*/
</script>
</html>