<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Participants</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
<link rel="stylesheet" media="all" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" />
<link rel="stylesheet" media="all" type="text/css" href="https://trentrichardson.com/examples/timepicker/jquery-ui-timepicker-addon.css" />
<link rel="stylesheet" th:href="@{/css/participant.css}"/>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>

</head>
<body>
<nav th:replace="fragments/adminmenu :: adminmenu"></nav>
<div class="container-fluid"><br/><br/><br/>
<div class="table-wrapper">
	<div class="table-title">
		<div class="row">
			<div class="col-sm-6">
				<h2>
					<b>Game Questions</b>
				</h2>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
			<div class="col-md-12">
			<div class="form-group">
				<label for="participantEffect">Participant Question:</label> 
				<select class="form-control" id="id" onchange="getvalue()"> 
				 <option value="">Select Question</option>
				 <option th:each="gameQuestion : ${gameQuestions}" th:value="${gameQuestion.id}" th:text="${gameQuestion.question}"></option>
				</select>
			</div>
			</div>
			</div>
		</div>
	</div>
</div>

</div>
<script type="text/javascript">
function getvalue() {
	var id = $("#id").val();
	window.location.href = '/admin/questionparticipants/'+id;
}
</script>
    
</body>
</html>