<div style="box-shadow: 0 0 20px 5px rgba(0,0,0,.5);border-radius: 15px;">
<table class="w3-table" style="border-color: #3e7709;background-color: white;border-top-left-radius: 20px;border-top-right-radius: 20px;">
<thead style="border-bottom: 1px solid deepskyblue;">
<tr class="w3-green">
  <th width="50%" style="border-top-left-radius: 15px;float: left;">EVENT</th>
  <th width="25%"><span style="text-align: center;">ACTUAL</span></th>
  <th width="25%" style="border-top-right-radius: 15px;float: right;"><span style="float:right;">POINTS</span></th>
</tr>
</thead>
</table>
<div style="overflow-x: auto;margin-top: 0px;background-color: white;background-size: cover;background-repeat: no-repeat;background-position: center center;height: calc(100vh - 263px);">
<table class="w3-table w3-bordered w3-striped w3-border test w3-hoverable">
<tbody>
<tr>
  <td width="50%"><span style="float: left;">Runs</span></td>
  <td width="25%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.runs}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${1 * userPoints.gameParticipantPoints.runs}"></span></td>
</tr>
<tr>
  <td width="50%"><span style="float: left;">Fours</span></td>
  <td width="25%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.fours}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${1 * userPoints.gameParticipantPoints.fours}"></span></td>
</tr>
<tr>
  <td width="50%"><span style="float: left;">Sixes</span></td>
  <td width="25%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.sixes}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${2 * userPoints.gameParticipantPoints.sixes}"></span></td>
</tr>
<tr>
  <td width="50%"><span style="float: left;">Fifties</span></td>
  <td width="25%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.fifties}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${6 * userPoints.gameParticipantPoints.fifties}"></span></td>
</tr>
<tr>
  <td width="50%"><span style="float: left;">Hundreds</span></td>
  <td width="25%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.hundries}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${12 * userPoints.gameParticipantPoints.hundries}"></span></td>
</tr>
<tr>
  <td width="50%"><span style="float: left;">Wickets</span></td>
  <td width="25%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.wickets}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${10 * userPoints.gameParticipantPoints.wickets}"></span></td>
</tr>
<tr>
  <td width="50%"><span style="float: left;">Maidens</span></td>
  <td width="25%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.maidens}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${5 * userPoints.gameParticipantPoints.maidens}"></span></td>
</tr>
<tr>
  <td width="50%"><span style="float: left;">Catches</span></td>
  <td width="25%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.catches}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${7 * userPoints.gameParticipantPoints.catches}"></span></td>
</tr>
<tr>
  <td width="50%"><span style="float: left;">Stumpeds</span></td>
  <td width="25%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.stumpeds}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${6 * userPoints.gameParticipantPoints.stumpeds}"></span></td>
</tr>
<tr>
  <td width="50%"><span style="float: left;">Runouts</span></td>
  <td width="25%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.runouts}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${3 * userPoints.gameParticipantPoints.runouts}"></span></td>
</tr>
<tr>
  <td width="50%"><span style="float: left;">Bowleds</span></td>
  <td width="50%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.bowleds}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${6 * userPoints.gameParticipantPoints.bowleds}"></span></td>
</tr>
<tr>
  <td width="50%"><span style="float: left;">LBWS</span></td>
  <td width="25%"><span style="text-align: center;" th:text="${userPoints.gameParticipantPoints.lbws}"></span></td>
  <td width="25%"><span style="float:right;" th:text="${6 * userPoints.gameParticipantPoints.lbws}"></span></td>
</tr>
</tbody>
</table>
</div>
  <footer  class="add_width_left app_footer mega">
  <div  class="text_btns">
  	<a  class="foot_btn" href="javascript:void(0)" style="border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;">
  	<span class="left_text">Total Points</span>
  	<span class="left_text" style="text-align:center;" th:if="${userPoints.gameParticipantScore.captain}" 
  	th:text="${userPoints.gameParticipantScore.score!=0.0 && userPoints.gameParticipantScore.score!=0 ?'3 X ' + #numbers.formatDecimal(userPoints.gameParticipantScore.score, 0, 'COMMA', 2, 'POINT') : '3 X ' + userPoints.gameParticipantScore.score+'0'}"></span>
  	<span class="left_text" style="text-align:center;" th:if="${userPoints.gameParticipantScore.viceCaptain}" 
  	th:text="${userPoints.gameParticipantScore.score!=0.0 && userPoints.gameParticipantScore.score!=0 ?'2 X ' + #numbers.formatDecimal(userPoints.gameParticipantScore.score, 0, 'COMMA', 2, 'POINT') : '2 X ' + userPoints.gameParticipantScore.score+'0'}"></span>
  	<span class="left_text" style="text-align:center;" th:if="${userPoints.gameParticipantScore.suppoter}" 
  	th:text="${userPoints.gameParticipantScore.score!=0.0 && userPoints.gameParticipantScore.score!=0 ?'1.5 X ' + #numbers.formatDecimal(userPoints.gameParticipantScore.score, 0, 'COMMA', 2, 'POINT') : '1.5 X ' + userPoints.gameParticipantScore.score+'0'}"></span>
  	<span class="left_text" style="text-align:center;" th:if="${!userPoints.gameParticipantScore.suppoter and !userPoints.gameParticipantScore.viceCaptain and !userPoints.gameParticipantScore.captain}" 
  	th:text="${userPoints.gameParticipantScore.score!=0.0 && userPoints.gameParticipantScore.score!=0 ?'1 X ' + #numbers.formatDecimal(userPoints.gameParticipantScore.score, 0, 'COMMA', 2, 'POINT') : '1 X ' + userPoints.gameParticipantScore.score+'0'}"></span>
  	
  	<span class="left_text" style="float:right;" th:if="${userPoints.gameParticipantScore.captain}" 
  	th:text="${userPoints.gameParticipantScore.captainScore!=0.0 && userPoints.gameParticipantScore.captainScore!=0 ?#numbers.formatDecimal(userPoints.gameParticipantScore.captainScore, 0, 'COMMA', 2, 'POINT') : userPoints.gameParticipantScore.captainScore+'0'}">Total Points</span>
  	<span class="left_text" style="float:right;" th:if="${userPoints.gameParticipantScore.viceCaptain}" 
  	th:text="${userPoints.gameParticipantScore.viceCaptainScore!=0.0 && userPoints.gameParticipantScore.viceCaptainScore!=0 ?#numbers.formatDecimal(userPoints.gameParticipantScore.viceCaptainScore, 0, 'COMMA', 2, 'POINT') : userPoints.gameParticipantScore.viceCaptainScore+'0'}">Total Points</span>
  	<span class="left_text" style="float:right;" th:if="${userPoints.gameParticipantScore.suppoter}" 
  	th:text="${userPoints.gameParticipantScore.suppoterScore!=0.0 && userPoints.gameParticipantScore.suppoterScore!=0 ?#numbers.formatDecimal(userPoints.gameParticipantScore.suppoterScore, 0, 'COMMA', 2, 'POINT') : userPoints.gameParticipantScore.suppoterScore+'0'}">Total Points</span>
  	<span class="left_text" style="float:right;" th:if="${!userPoints.gameParticipantScore.suppoter and !userPoints.gameParticipantScore.viceCaptain and !userPoints.gameParticipantScore.captain}" 
  	th:text="${userPoints.gameParticipantScore.score!=0.0 && userPoints.gameParticipantScore.score!=0 ?#numbers.formatDecimal(userPoints.gameParticipantScore.score, 0, 'COMMA', 2, 'POINT') : userPoints.gameParticipantScore.score+'0'}">Total Points</span>
  	</a>
  </div>
 </footer>
 </div>