<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="adminmenu">
	<a th:href="@{'/admin/dashboard'}" class="navbar-brand">All Sports Fantasy</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" th:classappend="${title == 'admindashboard' ? 'active' : ''}"><a class="nav-link" th:href="@{'/admin/dashboard'}">Dashboard</a></li>
			<li class="nav-item" th:classappend="${title == 'amountentries' ? 'active' : ''}"><a class="nav-link" th:href="@{'/admin/amountentries'}">Amount Entries</a></li>
			<li class="nav-item" th:classappend="${title == 'adminquestion' ? 'active' : ''}"><a class="nav-link" th:href="@{'/admin/questions'}">Questions</a></li>
			<li class="nav-item" th:classappend="${title == 'adminparticipants' ? 'active' : ''}"><a class="nav-link" th:href="@{'/admin/questionparticipants'}">Participants</a></li>
			<li class="nav-item" th:classappend="${title == 'adminparticipantpoints' ? 'active' : ''}"><a class="nav-link" th:href="@{'/admin/questionparticipantpoints'}">Participant Points</a></li>
			<li class="nav-item" th:classappend="${title == 'adminteams' ? 'active' : ''}"><a class="nav-link" th:href="@{'/admin/getteams'}">Teams</a></li>
			<li class="nav-item" th:classappend="${title == 'adminplayers' ? 'active' : ''}"><a class="nav-link" th:href="@{'/admin/getplayers'}">Players</a></li>
			<li class="nav-item" th:classappend="${title == 'adminpp' ? 'active' : ''}"><a class="nav-link" th:href="@{'/admin/api/questionparticipants'}">PP</a></li>
			<li class="nav-item" th:classappend="${title == 'adminpp' ? 'active' : ''}"><a class="nav-link" th:href="@{'/admin/api/questionparticipantpoints'}">PS</a></li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" th:href="@{'/admin/profile'}">profile</a></li>
			<li class="nav-item"><a class="nav-link" href="javascript:void(0)" th:href="@{'/logout'}">Signout</a></li>
		</ul>
	</div>
</nav>
</html>